.login-form-container {
  margin: auto;
  margin-top: 5em;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.form-container .login-title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.form-container .login-title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(145deg, #32c3ef, #89d2ff);
}
